<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <title>SSLP Search</title>

    <link href="css/main.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SSLP Search</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="search">Sites</a></li>
            <li><a href="favorites">Favorites</a></li>
            <li><a href="users/me">Apply Now</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <!--<div class="jumbotron">
	<img src="http://socialconcerns.nd.edu/images/newIDbanner.jpg" width="100%">
        <h1>SSLP Search</h1>
        <p>The easiest way to find your summer service destination</p>
      </div>-->

      <section id="head" style="border-bottom:1px solid #eeeeee">
	<img src="https://socialconcerns.nd.edu/images/newIDbanner.jpg" width="100%">
      </section>
      <div class="page-header">
        <h1>Find Sites</h1>
      </div>
      <div class ="col-md-3" id="filterList">
	<form id="filters">
	    <input type="checkbox" name="gender" value="Female Only"> Female Only<br> 
	    <input type="checkbox" name="gender" value="Male Only"> Male Only<br>	
	    <input type="checkbox" name="gender" value="Co-ed"> Co-ed<br>
	    <br><br>
	    <select multiple name="state">
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="GA">Georgia</option>
		<option value="MI">Michigan</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="WI">Wisconsin</option>
	     </select>
	     <br><br>
	    <input type="checkbox" name="langReq" value="Spanish-Intermediate"> Spanish-Intermediate<br> 
	    <input type="checkbox" name="langReq" value="None"> None<br>
	    <br>	
	    <label>Your Age</label> <br>
	    <input type="radio" name="ageReq" value="18"> 18<br>
	    <input type="radio" name="ageReq" value="19"> 19<br>
	    <input type="radio" name="ageReq" value="20"> 20<br><br> 
	    <input type="submit" value="Submit"><br><br>
	</form>
      </div>
      <div class ="col-lg-8">
      <div class="container-fluid">
      <table class="table">
	<tr>
	    <td>Name</td>
	    <td>City</td>
	    <td>State</td>
	    <td>Gender</td>
	    <td>Min. Age</td>
	    <td>Lang Req</td>
	    <td></td>
	</tr>
        {% block content %}
        {% for SiteID,name in sites.iteritems() %}
        <tr>
	    <td>
              	{{name}}
	    </td>
            <td>{{info[SiteID][0]}}</td>
	    <td>{{info[SiteID][1]}}</td>
            <td>{{info[SiteID][2]}}</td>
	    <td>{{info[SiteID][3]}}</td>
	    <td>{{info[SiteID][4]}}</td>
	    <td><input type="button" class="fave" name="{{SiteID}}" value="Add to Favorites"></td>
	</tr>
        {% endfor %}
        {% endblock %}
      </table>
      </div>
      </div>
    </div> <!-- /container-fluid -->
	<section id="footer">
	<p>SSLPsearch is an open-source project.</p>
	</section>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/search.js"></script>
  </body>
</html>
